/* Form.scss */
$backgroundColor: #8bc0c4;

form {
  width: 100%;
  backgroundColor: $backgroundColor;

  textarea {
    height: 80px;

    /* ... other textarea styles ... */
    &::placeholder {
      font-family: "Andale Mono"; /* Replace with your font */
      font-size: 12px; /* Adjust font size as needed */
      color: #ccc; /* Set placeholder text color */
      opacity: 0.8; /* Adjust opacity for readability */

    }
  }
  .form-top{
    //background-color: #eeeec9;
    height: 100px;
    margin-bottom: 5rem;
  }

  label {
    cursor: pointer; // Indicate clickable radio buttons
  }

  input { //url box
    background-color: #dbe7e8;
    min-width: 80%; /* Adjust the value as needed */
    padding: 0.5rem;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2); /* Inner drop shadow */
    border: 1px solid #ccc; /* Adjust border color as needed */
    border-radius: 4px; /* Consistent border radius */
  }

  input[type="radio"] {
    display: none; // Hide radio buttons visually

    &:checked + span {
      background-color: #98bdc9;
      color: white;
    }
  }

  span { //buttons
    margin: 4px;
    gap: 13rem;
    color: #939191;
    font-family: "American Typewriter";
    border: 1px solid #ccc; /* Set a default border color */

    &:active { /* Target the button when it's being clicked (active state) */
      border-color: #ccdaf1; /* border color on click */
      color: #fff;
    }

    padding: 5px 10px; // Adjust padding for readability
    border-radius: 4px; // Consistent border radius
  }

  textarea { //JSON BOX
    margin-top: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); /* Bottom shadow */
    border: 1px solid #ccc; /* Adjust border color as needed */
    background: transparent;
    padding: 8px;
    border-radius: 5px;
    resize: vertical; // Allow vertical resizing only
  }

  button {
    padding: 8px 20px;
    //border: none;
    border-radius: 5px;
    background-color: #f19428; // Green color
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; // Smooth hover effect

    &:hover {
      background-color: #3e8e41; // Darker green on hover
    }
  }
}
