header {

  width: 100%; /* Stretch it to full width */
  border-bottom: 1px solid #eee;
  color: #eee;
  background-color: #c4d4d5;
  text-align: center;

  //z-index: 100; /* Ensure header stays on top of other elements */
}
